.notebooks {
  display: flex;
  padding-left: 15rem;
  padding-top: 15rem;
  max-width: 100vw;
  height: 100%;
  flex-wrap: wrap;
  background-color: black;
  overflow-y: scroll;
}
.notebook {
  height: 300px;
  min-width: 255px;
  margin-bottom: 5%;
  background-size: cover;
  margin-right: 5rem;
  border: 2px solid gray;
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.notebookCover {
  height: 300px;
  min-width: 255px;
  background-size: cover;
  margin-right: 5rem;
  border-radius: 0px 20px 20px 0px;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 2px dashed white;
  color: white;
  text-align: center;
}
.notebook:hover {
  box-shadow: 2px 2px 5px #6e6e6e;
}
.notebook__details {
  background-color: white;
  width: 100%;
  padding: 10px;
  top: 50%;
  position: relative;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 30%;
  font-weight: bolder;
  font-size: 1.2rem;
}
@media only screen and (max-width: 660px) {
  .notebooks {
    padding-left: 10%;
    overflow-y: scroll;
    padding-bottom: 3rem;
  }
}
